/* Desktop >= 992px */
@media (min-width: 992px) {
    .small-header {
        display: none;
    }

    .specialize__dots {
        display: none;
    }
}

/* Tablet & Mobile */
@media (max-width: 991.98px) {
    /* Header */
    .header {
        display: none;
    }

    .small-header {
        position: sticky;
        top: 0;
        z-index: 990;
        background: #fbfaff;
        backdrop-filter: blur(20px);
    }

    .small-header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 15px;
        border-bottom: 1px solid #d6d3e2;
    }

    .small-header__logo {
        display: inline-block;
        width: 45px;
    }

    .small-header__img {
        width: 100%;
        object-fit: cover;
    }

    .small-header__feature {
        display: flex;
        align-items: center;
    }

    .small-header__menu,
    .small-header__mail {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(93, 59, 238, 0.2);
        cursor: pointer;
    }

    .small-header__icon-mail {
        width: 20px;
        object-fit: cover;
    }

    .small-header__menu {
        margin-left: 10px;
    }

    .drawer {
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        width: 0%;
        height: 100vh;
        background: #fff;
        overflow: hidden;
        transition: width 0.4s ease;
    }

    .small-header__back {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 2.2rem;
        cursor: pointer;
    }

    .drawer-wrapper {
        margin-top: 20px;
        padding: 60px;
    }

    .drawer__list {
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.4s ease,
            visibility 0.4s ease;
    }

    .drawer-item:first-child {
        margin-top: -16px;
    }

    .drawer-item a {
        display: inline-block;
        width: 100%;
        color: #51586a;
        font-size: 1.8rem;
        font-weight: 400;
        padding: 16px 0;
        transition: transform 0.25s ease;
    }

    .drawer-item a:hover {
        transform: translateX(15px);
        color: rgb(8, 4, 21);
    }

    .drawer-overlay {
        position: fixed;
        z-index: 998;
        width: 100%;
        height: 100vh;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.4s ease,
            visibility 0.4s ease;
    }

    #small-header__input:checked ~ .drawer {
        width: 70%;
    }

    #small-header__input:checked ~ .drawer .drawer__list {
        opacity: 1;
        visibility: visible;
    }

    #small-header__input:checked ~ .drawer-overlay {
        opacity: 1;
        visibility: visible;
    }

    /* Hero */
    .hero {
        height: auto;
        padding-top: 60px;
    }

    .hero-icon-1 {
        width: 720px;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        top: auto;
    }

    .hero-icon-2 {
        display: none;
    }

    .hero .row div:last-child {
        order: 1;
    }

    .hero .row div:first-child {
        order: 2;
    }

    .hero .hero-info {
        margin-top: 0;
    }

    .hero .hero-info__heading {
        max-width: 70%;
        line-height: 1.2;
    }

    .hero .hero-info__desc {
        width: 80%;
    }

    .hero-cta__work {
        margin-left: 60px;
        text-decoration: underline;
    }

    .hero-follow {
        margin-top: 40px;
    }

    .hero-media {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 38px;
    }

    .hero-media__img {
        width: 400px;
    }

    /* Client */
    .client {
        margin-top: 140px;
    }

    .client__inner {
        flex-direction: column;
    }

    .client__title {
        width: 260px;
        text-align: center;
        padding: 0;
    }

    .client__title::before {
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .client__list {
        flex-direction: column;
        margin: 0;
        margin-top: 50px;
    }

    .client-item {
        column-gap: 60px;
    }

    .client-item:last-child {
        margin-left: 0;
        margin-top: 36px;
    }

    /* Specializes */
    .specializes {
        margin-top: 130px;
    }

    .specialize__track {
        overflow: hidden;
    }

    .specialize-card {
        flex-shrink: 0;
        width: 100%;
        transition: transform 0.4s ease;
    }

    .specialize-card:hover {
        transform: translateY(0);
        box-shadow: none;
    }

    /* Intro */
    .intro__stats {
        margin: 70px 0;
    }

    .intro__video {
        position: relative;
        height: auto;
    }

    /* Testimonial  */
    .testimonial {
        padding-top: 60px;
        margin-top: 80px;
    }

    /* Contact */
    .contact__icon-deco:first-child,
    .contact__icon-deco:last-of-type {
        display: none;
    }

    .contact__icon-deco:nth-child(2) {
        width: 100%;
    }

    /* Footer */
    .footer > .footer__inner {
        flex-direction: column;
        align-items: center;
        height: auto;
        border-bottom: medium none currentcolor;
    }

    .footer .logo {
        order: 1;
        position: static;
        transform: translateX(0);
    }

    .footer .header-nav {
        order: 2;
    }

    .footer .header-email {
        order: 3;
    }

    .footer .nav-list {
        margin-top: 20px;
    }

    .footer .nav-link {
        padding: 20px 0;
    }

    .footer .header-email {
        margin-top: 64px;
    }

    .divider {
        height: 1px;
        background-color: rgba(12, 7, 32, 0.2);
        width: 100%;
        order: 2;
        margin: 29px 0px 20px;
    }

    .footer__copyright {
        flex-direction: column;
    }

    .footer__copyright-right {
        order: 1;
    }

    .copyright {
        order: 3;
    }
}

/* Mobile */
@media (max-width: 767.98px) {
    /* Header */
    .small-header__logo {
        width: 38px;
    }

    .small-header__menu,
    .small-header__mail {
        width: 32px;
        height: 32px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* Hero */
    .hero {
        padding-top: 50px;
    }

    .hero .hero-info__heading {
        width: 260px;
        font-size: 4.2rem;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.168rem;
    }

    .hero .hero-info__desc {
        width: 318px;
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .hero .hero-cta {
        margin-top: 30px;
    }

    .hero .hero-cta__btn {
        --height: 55px;
        min-width: 146px;
    }

    .hero-cta__work {
        margin-left: 40px;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.88;
    }

    .hero-follow {
        margin-top: 25px;
    }

    .hero-follow__text {
        color: #51586a;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.43;
    }

    .hero-follow__icons {
        margin-left: 10px;
    }

    .hero-follow__icon {
        width: 31px;
        height: 31px;
    }

    .hero-media {
        margin-top: 20px;
    }

    .hero-media__img {
        width: 259px;
    }

    .hero-icon-1 {
        width: 100%;
        height: 402px;
    }

    /* Client */
    .client {
        margin-top: 125px;
    }

    .client__title {
        width: 169px;
        color: #080415;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.21;
        letter-spacing: -0.112rem;
    }

    .client__title::before {
        width: 48px;
    }

    .client__list {
        margin-top: 42px;
    }

    /* Specialize */
    .specializes {
        margin-top: 120px;
    }

    .specialize__heading {
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.144rem;
    }

    .specialize-desc {
        width: 350px;
        margin-top: 20px;
        font-size: 1.6rem;
        line-height: 1.62;
    }

    .specialize__list {
        margin-top: 50px;
    }

    .specialize-card {
        padding: 29px 50px;
    }

    .specialize-card__icon {
        width: 62px;
    }

    .specialize-card__title {
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.29;
        letter-spacing: -0.112rem;
        margin-top: 30px;
    }

    .specialize-card__desc {
        font-size: 1.6rem;
        line-height: 1.75;
        margin-top: 10px;
    }

    .specialize__dot-list {
        margin-top: 30px;
    }

    /* Projects */
    .projects {
        margin-top: 120px;
        padding: 69px 0 60px;
    }

    .project__info {
        flex-direction: column;
    }

    .project__heading {
        width: 301px;
        text-align: center;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.144rem;
    }

    .project__desc {
        width: 350px;
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.63;
        margin-left: 0;
        margin-top: 20px;
        font-weight: 400;
    }

    .project__list {
        margin-top: 60px;
    }

    .project-item {
        padding: 20px 15px;
        column-gap: 22px;
    }

    .project-item__title {
        color: #080415;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.42;
        letter-spacing: -0.096rem;
    }

    .project-item__desc {
        color: #51586a;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
        width: 167px;
    }

    .project-item__media {
        width: 122px;
        height: 93px;
    }

    .project-item__link {
        color: #080415;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.75;
    }

    .project-item__link,
    .project-item__desc {
        margin-top: 0;
    }

    .project__btn {
        --height: 56px;
        min-width: 154px;
        margin-top: 50px;
        color: #080415;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.88;
    }

    /* Intro */
    .intro {
        margin-top: 120px;
    }

    .intro__sub-title {
        color: #5d3bee;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2;
        letter-spacing: -0.08rem;
    }

    .intro__title {
        color: #080415;
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.144rem;
    }

    .intro__desc {
        margin-top: 20px;
        color: #51586a;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.63;
        width: 350px;
    }

    .intro__stats {
        margin: 50px 0 40px;
        justify-content: space-between;
        padding: 20px 16px;
    }

    .stat-item__number {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.09rem;
    }

    .stat-item__label {
        color: #51586a;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.38;
        width: 74px;
        margin-top: 5px;
    }

    .intro__icon-play {
        width: 77px;
        height: 77px;
    }

    .intro__badge {
        width: 118px;
        height: 44px;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2.5;
    }

    /* Testimonial */
    .testimonial {
        padding-top: 50px;
        margin-top: 70px;
    }

    .testimonial__heading {
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.144rem;
    }

    .testimonial__desc {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.63;
        width: 350px;
    }

    .testimonial__list {
        margin-top: 40px;
    }

    .testimonial-item__quote {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
        width: 352px;
    }

    .testimonial-item__author {
        margin-top: 48px;
    }

    .testimonial-item__name {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.67;
    }

    .testimonial__dots {
        margin-top: 20px;
    }

    .testimonial__deco {
        width: 96px;
    }

    /* FAQ */
    .faq {
        margin-top: 120px;
    }

    .faq__heading {
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.144rem;
        width: 316px;
    }

    .faq__list {
        margin-top: 42px;
    }

    .faq-item__info {
        padding-left: 10px;
    }

    .faq-item__question {
        width: 264px;
        color: #080415;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: -0.096rem;
        margin-bottom: 15px;
    }

    .faq-item__answer {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.63;
        width: 316px;
    }

    .faq-item__btn {
        margin-top: 0;
        width: 33px;
        height: 33px;
    }

    .hidden-check:checked ~ .faq-item .faq-item__answer {
        padding: 15px 0;
    }

    .hidden-check:checked ~ .faq-item .faq-item__btn {
        margin-top: 0;
    }

    /* Atmosphere */
    .atmosphere {
        margin-top: 120px;
    }

    .atmosphere__heading {
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.144rem;
    }

    .atmosphere__desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.63;
        width: 350px;
    }

    .atmosphere__contact {
        margin-top: 10px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2;
        letter-spacing: -0.08rem;
    }

    .atmosphere__list {
        margin-top: 60px;
    }

    /* Contact */
    .contact {
        margin-top: 120px;
    }

    .contact__container {
        padding: 36px 0;
        overflow: hidden;
    }

    .contact__icon {
        width: 48px;
    }

    .contact__heading {
        text-align: center;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.144rem;
        width: 225px;
    }

    .contact__desc {
        width: 350px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.63;
    }

    .contact__icon-deco:nth-child(2) {
        width: auto;
        transform: translateX(-60%);
    }

    .contact__btn {
        --height: 55px;
        min-width: 147px;
        margin-top: 30px;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.88;
    }

    /* Footer */
    .footer {
        margin-top: 120px;
    }

    .footer .nav-list {
        margin-top: 0;
    }

    .footer .header-email {
        margin-top: 48px;
    }

    .footer .header__inner {
        padding-bottom: 0;
    }

    .footer__bottom {
        margin-top: 58px;
    }
}
