*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* Common */
a,
button {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    --height: 62px;
}

.sticky {
    position: sticky;
    top: -20px;
    z-index: 999;
}

.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.224rem;
}

.section-desc {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.67;
}

.btn {
    --height: 62px;
    --bg-color: var(--primary-color);
    --text-color: #fdfdfd;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    max-width: 170px;
    height: var(--height);
    font-size: 1.8rem;
    font-weight: 700;
    background: var(--bg-color);
    line-height: 1.67;
}

/* Header */
.header {
    height: 120px;
    padding-top: 20px;
    background: #fbfaff;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(1330px, 100% - 48px);
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.header-email {
    display: flex;
    align-items: center;
}

.header-email:hover .header-email__img {
    box-shadow: 0 0 12px rgba(93, 59, 238, 0.6);
}

.header-email:hover .header-email__text {
    text-decoration: underline;
}

.header-email__img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
    transition: box-shadow 0.3s linear;
}

.header-email__text {
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo__img {
    transition: transform 0.3s ease-in-out;
}

.logo__img:hover {
    transform: rotate(8deg);
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 42px;
}

.nav-link {
    display: inline-block;
    color: #51586a;
    font-size: 1.8rem;
    line-height: normal;
    transition: transform 0.2s linear;
}

.nav-link:hover {
    transform: translateY(-3px);
    color: rgb(8, 4, 21);
}

/* Hero */
.hero {
    display: flex;
    padding-top: 44px;
    background: #fbfaff;
}

.hero__inner {
    position: relative;
}

.hero-icon-1 {
    position: absolute;
    top: -80px;
    left: -215px;
    z-index: 0;
}

.hero-icon-2 {
    position: absolute;
}

.hero-media {
    width: 514px;
    height: 705px;
}

.hero-media__img {
    width: 100%;
    object-fit: cover;
}

.hero-info {
    margin-top: 137px;
}

.hero-info__heading {
    font-size: 8rem;
    line-height: 0.95;
    letter-spacing: -0.32rem;
}

.hero-info__desc {
    margin-top: 20px;
    width: 370px;
}

.hero-cta {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.hero-cta__btn {
    width: 170px;
    height: 62px;
}

.hero-cta__work {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
}

.hero-cta__work:hover {
    text-decoration: underline;
}
