*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

/* Common */
a,
button {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    --height: 62px;
}

.sticky {
    position: sticky;
    top: -20px;
    z-index: 999;
}

.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.224rem;
}

.section-desc {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.67;
}

.btn {
    --height: 62px;
    --bg-color: var(--primary-color);
    --text-color: #fdfdfd;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    min-width: 170px;
    height: var(--height);
    font-size: 1.8rem;
    font-weight: 700;
    background: var(--bg-color);
    line-height: 1.67;
    border: none;
    outline: none;
    transition: opacity 0.25s ease-in-out;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    height: 120px;
    padding-top: 20px;
    background: #fbfaff;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(1330px, 100% - 48px);
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.header-email {
    display: flex;
    align-items: center;
}

.header-email:hover .header-email__img {
    box-shadow: 0 0 12px rgba(93, 59, 238, 0.6);
}

.header-email:hover .header-email__text {
    text-decoration: underline;
}

.header-email__img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
    transition: box-shadow 0.3s linear;
}

.header-email__text {
    margin-left: 10px;
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo__img {
    transition: transform 0.3s ease-in-out;
}

.logo__img:hover {
    transform: rotate(8deg);
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 42px;
}

.nav-link {
    display: inline-block;
    color: #51586a;
    font-size: 1.8rem;
    line-height: normal;
    transition: transform 0.2s linear;
}

.nav-link:hover {
    transform: translateY(-3px);
    color: rgb(8, 4, 21);
}

/* Hero */
.hero {
    display: flex;
    padding-top: 44px;
    background: #fbfaff;
}

.hero__inner {
    position: relative;
}

.hero-icon-1 {
    position: absolute;
    top: -80px;
    left: -215px;
}

.hero-icon-2 {
    position: absolute;
    bottom: 0;
    right: -174px;
}

.hero-media {
    position: relative;
    width: 514px;
    height: 705px;
    z-index: 1;
}

.hero-media__img {
    width: 100%;
    object-fit: cover;
}

.hero-info {
    margin-top: 137px;
}

.hero-info__heading {
    font-size: 8rem;
    line-height: 0.95;
    letter-spacing: -0.32rem;
}

.hero-info__desc {
    margin-top: 20px;
    width: 370px;
}

.hero-cta {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.hero-cta__btn {
    width: 170px;
    height: 62px;
    animation: pulse-primary-color 2s infinite;
}

.hero-cta__work {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
}

.hero-cta__work:hover {
    text-decoration: underline;
}

.hero-follow {
    display: flex;
    align-items: center;
    margin-top: 104px;
}

.hero-follow__text {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.88;
}

.hero-follow__icons {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-follow__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(8, 4, 21, 0.1);
    transition: all 0.2s ease;
}

.hero-follow__icon:hover {
    background: var(--primary-color);
    cursor: pointer;
    color: #fff;
    border-color: var(--primary-color);
}

/* Client */
.client {
    margin-top: 100px;
}

.client__inner {
    display: flex;
    align-items: center;
}

.client__title {
    position: relative;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.168rem;
    width: 320px;
    padding-left: 100px;
}

.client__title::before {
    position: absolute;
    top: 22px;
    left: 0;
    content: "";
    display: inline-block;
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

.client__list {
    display: flex;
    flex-grow: 1;
    margin-left: 105px;
}

.client-item {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 36px;
    justify-content: space-between;
    flex-grow: 1;
}

.client-item__brand {
    transition: all 0.35s ease;
}

.client-item__brand:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.client-item:last-child {
    margin-left: 66px;
}

/* Specializes */
.specializes {
    margin-top: 132px;
}

.specialize__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialize-desc {
    text-align: center;
    width: 534px;
    margin-top: 20px;
}

.specialize__list {
    margin-top: 60px;
}

.specialize-card {
    padding: 32px 42px;
    background: #fbfaff;
    transition:
        transform 0.25s,
        box-shadow 0.25s;
}

.specialize-card:hover {
    cursor: pointer;
    transform: translateY(-12px);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 18px 32px;
}

.specialize-card__icon {
    display: inline-block;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    cursor: pointer;
}

.specialize-card__icon img {
    max-width: 100%;
    object-fit: cover;
}

.specialize-card__title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
    margin-top: 22px;
}

.specialize-card__desc {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.67;
    margin-top: 15px;
}

/* Projects */
.projects {
    margin-top: 140px;
    padding: 86px 0;
    background: #5d3bee;
}

.project__list-gap {
    row-gap: 30px;
}

.project__info {
    display: flex;
    align-items: center;
}

.project__heading {
    width: 468px;
    color: #fff;
}

.project__desc {
    margin-left: 160px;
    color: rgba(255, 255, 255, 0.7);
    width: 370px;
}

.project__list {
    margin-top: 70px;
}

.project-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 24px 34px;
    background: #fbfaff;
    overflow: hidden;
    transition:
        transform 0.25s ease-in-out,
        box-shadow 0.25s ease-in-out;
}

.project-item:hover {
    transform: translateY(-6px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
}

.project-item__title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
}

.project-item__desc {
    color: #51586a;
    font-size: 1.6rem;
    line-height: 1.44;
    margin-top: 10px;
}

.project-item__link {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration: underline;
    transition: color 0.25s ease-in-out;
}

.project-item:hover .project-item__link {
    color: var(--primary-color);
}

.project-item__deco {
    position: absolute;
    top: 0;
    right: 0;
}

.project-item__media {
    flex-shrink: 0;
    width: 246px;
    height: 187px;
    z-index: 1;
    overflow: hidden;
}

.project-item__img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.25s ease-in-out;
}

.project-item:hover .project-item__img {
    transform: scale(1.05);
}

.project__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    color: #080415;
    margin-top: 80px;
    transition: color 0.25s ease-in-out;
}

.project__btn:hover {
    color: var(--primary-color);
}

@keyframes pulse-primary-color {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgb(93, 59, 238, 0.4);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 0 20px rgb(93, 59, 238, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgb(93, 59, 238, 0);
    }
}
